
body {
    background-color: rgb(22, 10, 5);}

.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 10px;
    background-color: rgb(92, 92, 92);
   }

   .item {
    padding: 5px;
    width: 20%;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(245, 14, 14);
}

.bigitem {
    padding: 5px;
    width: 54%;
    height: 150px;
    margin-top: 10px;
    background-color: rgb(245, 14, 14);
}


.second-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 5px;
    margin-top: 10px;
    background-color: rgb(243, 117, 0);
   }

      
   .item2 {
    padding: 10px;
    height: 150px;
    width: 100%;
    margin-top: 10px;
    margin-left: 11px;
    margin-right: 11px;
    margin-bottom: 10px;
    background-color: rgb(232, 250, 73);
   }

/* esto no sé si sirve de algo*/


   .big-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    box-align:right;
    padding: 5px;
    background-color: rgb(255, 255, 255);
       }


.third-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 58%;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(92, 92, 92);
       }
    
    .item3 {
    padding: 5px;
    width: 40%;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(11, 21, 160);
    }
    
    .bigitem3 {
    padding: 5px;
    width: 54%;
    height: 150px;
    margin-top: 10px;
    background-color: rgb(14, 245, 234);
    }

    
.fourth-countainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 5px;
    width: 34%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(184, 3, 3);
   }

      
   .item4 {
    padding: 10px;
    height: 150px;
    width: 100%;
    margin-top: 10px;
    margin-left: 11px;
    margin-right: 11px;
    margin-bottom: 10px;
    background-color: rgb(232, 250, 73);
   }


   
.fifth-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 5px;
    margin-top: 10px;   }

      
   .bigitem5 {
    padding: 10px;
    height: 150px;
    width: 100%;
    margin-top: 10px;
    margin-left: 11px;
    margin-right: 11px;
    margin-bottom: 10px;
    background-color: rgb(232, 250, 73);
   }
