body {
    background-color: rgb(255, 255, 255);
}

/* Estilos de todos los links de la página */ 

a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(95, 90, 90);
}

/*Por algún motivo el list-stype-type que quita los bullets
solo funciona aplicado directamente al ul.
El display flex los alinea en horizontal*/

ul {
    list-style-type: none;
    display: flex;
}

/*El padding solo funciona aplicado al li*/

li {
    display: flex;
    padding: 10px;
}

/*HEADER*/
/* Container grande del header con menú, logo e imagen de cabecera*/

.big-container {

    margin: auto;
    background-image: url(../images/header-background.jpg);
    background-position-y:790px;
    background-position-x: center;
}

/* Container del header que va dentro de .big-container (menú, logo...)*/

.container {
    display: flex;
    flex-flow: row wrap;
    width: 95%;
    justify-content: space-around;
    padding: 10px;
    background-color: rgb(255, 255, 255, 0.2);
}

/* Logo */
.item {
    display: flex;
    /* height: 150px; En lugar de darle el height a la capa
    se lo doy a la imagen: ver abajo */
}

.item img{
    height: 150px;
}

/*Redes sociales*/

.item-redes {
    padding: 5px;
    margin-top: 40px;
}

/* Menú de navegación*/

.bigitem {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Esto me los centra verticalmente*/
    padding: 10px;
    width: 48%;
}

.bigitem a:hover{
    text-decoration:underline;
    color: rgba(139, 139, 139, 0.9);
}

/* Imagen del header con eslogan */

.second-container {
    display: flex;
    flex-flow: row wrap;
}

.item2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-family: "Nimbus Roman CHS Bold", Helvetica, sans-serif;
    padding: 48px;
    /*height: 150px;  en lugar de esto es mejor un padding más grande o un min-height*/
    width: 100%;
    margin-left: 11px;
    margin-right: 11px;
    margin-bottom: 10px;
    font-size: 3em;
    color: rgba(184, 17, 17, 0.5);
}

/*BODY*/

/* Container grande alrededor del body, el contorno negro */

.big-container2 {
    display: flex;
    margin: auto;  /* Esto me centra todo el bloque*/
    flex-flow: row wrap;
    width: 1200px;
    padding: 2px; /* la parte de negro que se ve alrededor de las cajas*/
    background-color: rgb(0, 0, 0);
}

/* Caja grande de artículos */

.third-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 65%;
    padding: 10px;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: rgb(197, 197, 197);
}

/* Noticias-fichas*/

.item3 {
    padding: 2px;
    width: 45%;
    margin-bottom: 10px;
    background-color: white;
}

.item3 img {
    width: 100%;
}

.item3 p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    margin-left: 5px;
    margin-top: 2px;
}

.date{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(255, 255, 255, 0.7);
    text-align: left;
    margin-left: 5px;
    position: relative;
    top: -10%;
}

.section{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
    color: white;
    margin-left: px;
    margin-top: -23px;
    border-style: solid;
    border-color: red;
    background-color: red;
}

.readmore{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: left;
    margin-left: 5px;
    margin-bottom: 10px;
}

.readmore:hover{
    text-decoration:underline;
    color: rgba(139, 139, 139, 0.9);
}
    
/* Caja azul (item 9) debajo de las noticias */

.bigitem3 {
    padding: 5px;
    width: 95%;
    height: 150px;
    margin-top: 10px;
    background-color: rgb(14, 245, 234);
}

/*SIDEBAR DERECHO*/
    
/* Contenedor rojo*/

.fourth-countainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    margin-left: 8px;
    margin-bottom: 10px;
    padding: 5px;
    width: 29%;
    background-color: rgb(184, 3, 3);
}

/* Cajas amarillas laterales*/

.item4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    padding: 5px;
    height: 150px;
    width: 90%;
    background-color: rgb(232, 250, 73);
}

/*FOOTER*/

/*Contenedor negro*/

.fifth-container {
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    width: 1200px;
    align-content: center;
    justify-content: center;
    padding: 5px;
    margin-top: 10px; 
    background-color: rgb(0, 0, 0);  
}
      
/* Caja amarilla*/

.bigitem5 {
    height: 150px;
    width: 98%;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color: rgb(232, 250, 73);
}

/* |||||||||||||||| MEDIA QUERIES AREA ||||||||||||||||  */

/* VERSIÓN TABLET */

@media (max-width: 1240px) {

    body {
        background-color: rgb(15, 236, 26);
    }

    /*HEADER*/

    /* Container grande del header con menú, logo e imagen de cabecera*/

    /* En maquetaciones tablet-móvil es bueno que ocupe mucho sitio.
    Recomendación Pablo: width auto + margin de 5 px*/

    .big-container {
        width: auto;
        margin: 5px;
    }

    /* Menú de navegación*/

    .bigitem {
      
        background-color: transparent;
    }

    /* Logo */

    .item {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .item img {
        height: 90px;
    }

    /*Redes sociales*/

    .item-redes {
        display: block;
        align-items: right;
        background-color: transparent;
        margin: auto; /* para centrarlo horizontalmente*/
    }

    /*Slogan*/

    .item2{
        font-size: 2em;
    }

    /*BODY*/

    /* Container grande alrededor del body, el contorno negro */

    .big-container2 {
        background-color: rgb(229, 255, 0);
        width: auto;
        margin: 5px;
    }

    /* Caja grande de artículos */

    .third-container {
        flex: 50%;
    }

    /*SIDEBAR DERECHO*/
        
    /* Contenedor rojo*/
        
    .fourth-countainer {
        width: 96%;
    }

    /*FOOTER*/

    /*Contenedor negro*/

    .fifth-container {
        width: auto;
        margin: 5px;
    }

/* VERSIÓN MÓVIL */
@media (max-width: 750px) {

    body {
        background-color: rgb(15, 85, 236);
    }

    /*HEADER*/
    /* Oculto el texto del menú para dejar solo iconos */ 

    .bigitem span{
        display: none;
    }

    .item2{
        font-size: 1.5em;
        height: 50px;
    }

    /*BODY*/

    /* Noticias-fichas */ 

    .item3 {
         width: 300px
    }
    
    .item3 img {
        width: 300px
     }
}  